{
  "overrides": [
    {
      "files": ["slides.md", "core-pages/*.md", "slides/java-structured-concurrency/*.md"],
      "options": {
        "parser": "slidev",
        "plugins": ["prettier-plugin-slidev"]
      }
    }
  ]
}
